html 
{
    padding: 1%;
}
body
{
    color:#00AEEF;
}

p
{
    font-size:40px;
}
a
{
    text-decoration: none;
    color:#00AEEF ;
}
#mybutton
{
    color:#00AEEF;
    background-color:white;
    border-radius: 10px;
	font-size: 30px;
	border-color:#00AEEF;
}

#mybutton:hover
{
    background-color:#00AEEF;
    color:white;
	font-size: 30px;
	border-radius: 10px;
}

.grid
{
    width:100%;
    display:grid;
    grid-template-columns: 100%;
    border:4px solid #00AEEF;
}

.navigation-container
{
    display: grid;
    grid-template-columns:repeat(5,20%);
    grid-gap: 0px;
	width:100%;
	border-bottom: 4px solid #00AEEF;
}

.navigation-item, .navigation-item1
{
    border-right: 4px solid #00AEEF;
    text-align: center;
	font-size:30px;
}

.navigation-item1
{
    border-right: 0px solid #00AEEF;
}

.home-container
{
    width:100%;
    display:grid;
    grid-template-columns:repeat(2,50%);
    grid-gap: 0px;
    border-bottom:4px solid #00AEEF;
    
}

.half1 p, button 
{
    margin: 50px 0 50px 0;
}

.half1, .half2
{
    
    border:1px solid #00AEEF;
    padding:10%;
    text-align: center;
}

.half2
{
    border-left: 4px solid #00AEEF;
}
.half2 p {
    margin: 100px 0 100px 0;
}
.team-container
{
   display:grid;
   grid-template-columns:1fr 1fr 1fr;
   width:90%;
   margin:auto;
}

#team-item1:hover
{
    background-color:#00AEEF;
    color:white;   
}
#team-item2:hover
{
    background-color:#0000FF;
    color:white;
}
#team-item3:hover
{
    background-color:#FF00FF;
    color:white;
}

			
#team-item1, #team-item2, #team-item3 
{
    border-radius:50%;
	margin:20px;
	grid-gap:20px;
	text-align:center;
	width: 300px;
    height: 300px;
    border: 4px solid #00AEEF;
    padding: 25px;
}
	
.about-container
{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width:90%;
	margin:auto;
}

#about-item1, #about-item2,#about-item3,#about-item4
{
    margin:15px;
	text-align:center;
    border-collapse: collapse ;
    grid-gap: 15px;
    background-color: white;
    border-radius: 20px;
    padding: 90px 75px;
    border: 4px solid #00AEEF;
}

#about-item1:hover, #about-item2:hover,#about-item3:hover,#about-item4:hover
{
    background-color: #00AEEF;
    color:white;
}

.contact-container
{
     display:grid;
	 width:100%;
     grid-template-columns: repeat(1,100%);
     text-align: center;
     font-size: 25px;
     border-top:4px solid #00AEEF;
}